$c-font-color: #fff;
$c-list-items-color: #fff;
$c-icon-color: #fff;
$c-sidebar-background: #000;
$c-search-bar-background: #2c2541;
$c-search-bar-icon: #6e6d6d;
$c-sidebar-border: #2c2541;
$c-sidebar-sectiontitle: #6e6d6d;


// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'sidebar';
@import 'full-page';
@import 'sidebar-footer';
@import 'sidebar-section';
