.sidebar {
  background: $c-sidebar-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.img {
  height: 100%;
  object-fit: cover;
  width: 10rem;
}

.fa {
  margin:0 1rem;
  color: $c-icon-color;
}

.fa-search {
  color: $c-search-bar-icon;
}
.sidebar-item {
  color: $c-font-color;
  display: flex;
  justify-content: space-between;
}

.list-items {
  color: $c-list-items-color;
  margin: 0.5rem;
}

.search-bar {
  background: $c-search-bar-background;
  box-shadow:#392e5c 0 0 0 1px;
  margin: 1rem;
  padding: 0.5rem;

}
.search {
font-size: 1rem;
}

.dropdown {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 0.8rem;
}
